@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    color: #fff;
    font-family: Open Sans, sans-serif;
}
img{
    display: block;
    width: 100%;
}
/* Inside your global CSS or component-level CSS */
.swiper-button-next,.swiper-button-prev {
    @apply text-white;
    @apply bg-yellow;
    @apply rounded-full;
    @apply w-[30px];
    @apply h-[30px];

}
.swiper-button-next {
    @apply right-0;
}
.swiper-button-prev {
    @apply left-0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    @apply text-sm;
}
.swiper-button-next:hover.swiper-button-prev:hover {
    @apply text-yellow;
}
